@use "./colors" as *;
// @use "./mixins" as *;
// @use "./typo" as *;

body {
  margin: 0;
  font-family: "Reddit Sans", Arial, sans-serif;
  color: $c1;
  background-color: $w2;
  background-image: linear-gradient($c4 1px, transparent 1px),
    linear-gradient(90deg, $c4 1px, transparent 1px);
  background-size: 110px 110px;
  background-position: center -20px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  display: block;
  max-width: fit-content;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  color: inherit;
  background: none;
  outline: none;
  padding: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

// Específico
.transition-element {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
}

.transition-element--visible {
  transform: translateY(0);
  opacity: 1;
}
