@use "./colors" as *;
@use "./mixins" as *;
@use "./global";
@use "./typo" as *;

header {
  display: flex;
  gap: $s5;
  align-items: center;
  justify-content: space-between;
  color: $c2;
  @include ptop-5;
  @include pbottom-5;
  @include container;
  @include text-2;
  & {
    @include screen(mobile) {
      flex-direction: column;
      gap: $s2;
    }
  }
  ul {
    display: flex;
    gap: $s2;
  }
}

footer {
  text-align: center;
  background-image: url("../../img/background.webp");
  background-size: cover;
  background-position: center;
  color: $w;
  @include ptop-6;
  @include pbottom-6;
  @include text-2;
  & {
    @include screen(tablet) {
      background-size: 2000px;
    }
  }
}

.pagina-inicial {
  .intro {
    text-align: center;
    height: calc(100vh - 61.7px);
    @include container;
    & {
      @include screen(mobile) {
        height: calc(100vh - 90px);
      }
    }
    div {
      position: relative;
      top: calc(50% - 61.7px);
      transform: translateY(-50%);
    }
    img {
      width: 130px;
      border-radius: 200px;
      transition: 0.5s;
      @include mbottom-5;
      @include align-div;
      & {
        @include screen(notebook-s) {
          width: 115px;
        }
      }
      & {
        @include screen(mobile) {
          width: 100px;
        }
      }
    }
    p:nth-of-type(1) {
      transition: 0.6s;
      color: $c2;
      @include mbottom-2;
      @include text-1;
    }
    h1 {
      transition: 0.6s;
      @include mbottom-2;
      @include title-1;
      & {
        text-transform: uppercase;
        background: linear-gradient(to right, $c1, $c5);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
    p:nth-of-type(2) {
      transition: 0.6s;
      max-width: 40ch;
      @include align-div;
      @include mbottom-4;
      @include text-1;
    }
    a {
      @include align-div;
      @include button;
    }
  }

  .sobre {
    text-align: center;
    background-image: url("../../img/background.webp");
    background-size: cover;
    background-position: center;
    color: $w2;
    @include ptop-13;
    @include pbottom-13;
    .sobre-conteudo {
      @include container;
    }
    h2 {
      color: $w;
      @include mbottom-5;
      @include title-1;
    }
    p {
      @include text-1;
      &:not(:last-of-type) {
        @include mbottom-5;
      }
      & {
        @include screen(mobile) {
          @include text-2;
        }
      }
    }
    b {
      color: $w;
      font-weight: 600;
    }
  }

  .trajetoria {
    @include ptop-12;
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & {
        @include screen(mobile) {
          grid-template-columns: 1fr;
        }
      }
    }
    li {
      span:nth-of-type(1) {
        display: block;
        & {
          @include screen(tablet) {
            display: none;
          }
        }
      }
      span:nth-of-type(2) {
        display: none;
        & {
          @include screen(tablet) {
            display: block;
          }
        }
      }
    }
    li:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
      text-align: end;
      position: relative;
      & {
        @include screen(mobile) {
          text-align: start;
        }
      }
      &::before {
        content: "";
        display: block;
        height: calc(100% + 10px);
        width: 2px;
        background: linear-gradient(to bottom, $c5, $c3);
        position: absolute;
        top: 0;
        right: -1px;
        & {
          @include screen(mobile) {
            left: -1px;
          }
        }
      }
      &::after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c5;
        position: absolute;
        top: calc($s2 + 8px);
        right: -5px;
        & {
          @include screen(mobile) {
            top: calc($s3 + 8px);
            left: -5px;
          }
        }
      }
    }
    li:nth-of-type(2) {
      grid-column: 2;
      grid-row: 2;
      position: relative;
      & {
        @include screen(mobile) {
          grid-column: 1;
        }
      }
      &::before {
        content: "";
        display: block;
        height: calc(100% + 10px);
        width: 2px;
        background-color: $c3;
        position: absolute;
        top: 0;
        left: -1px;
      }
      &::after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c3;
        position: absolute;
        top: calc($s2 + 8px);
        left: -5px;
        & {
          @include screen(mobile) {
            top: calc($s3 + 8px);
          }
        }
      }
    }
    li:nth-of-type(3) {
      grid-column: 1;
      grid-row: 3;
      text-align: end;
      position: relative;
      & {
        @include screen(mobile) {
          text-align: start;
        }
      }
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background: linear-gradient(to bottom, $c3, $c2);
        position: absolute;
        top: 0;
        right: -1px;
        & {
          @include screen(mobile) {
            left: -1px;
          }
        }
      }
      &::after {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c2;
        position: absolute;
        top: calc($s2 + 8px);
        right: -5px;
        & {
          @include screen(mobile) {
            top: calc($s3 + 8px);
            left: -5px;
          }
        }
      }
    }
    li {
      padding: $s2 $s5;
      position: relative;
      & {
        @include screen(mobile) {
          padding: $s3 $s7;
          left: $s2;
        }
      }
      p:nth-of-type(1) {
        @include mbottom-1;
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      p:nth-of-type(2) {
        color: $c2;
        @include mbottom-1;
        @include text-1;
        & {
          @include screen(tablet) {
            @include text-2;
          }
        }
      }
      p:nth-of-type(3) {
        color: $c3;
        @include text-2;
      }
    }
  }

  .habilidades {
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    .hab-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: $s6;
      & {
        @include screen(tablet) {
          grid-template-columns: 1fr;
        }
      }
    }
    .certificados {
      background: $w;
      padding: $s5 $s6;
      text-align: center;
      min-width: 0;
      align-content: center;
      min-width: 200px;
      @include border;
      @include shadow-1;

      h3 {
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      & > p {
        color: $c2;
        @include mbottom-3;
        @include text-2;
      }
      li {
        filter: grayscale(100%);
        transition: 0.5s;
        align-self: center;
        &:hover {
          filter: grayscale(0%);
        }
        a {
          @include align-div;
        }
        div {
          @include mbottom-3;
        }
        p:nth-of-type(1) {
          @include text-2;
          & {
            font-weight: 500;
          }
        }
        p:nth-of-type(2) {
          color: $c3;
          @include mbottom-3;
          @include text-2;
        }
        p:nth-of-type(3) {
          @include align-div;
          @include link;
          @include text-2;
        }
      }
    }
    .tecnologias {
      background: $w;
      padding: $s5 $s6;
      align-content: center;
      text-align: center;
      min-width: 0;
      @include border;
      @include shadow-1;
      h3 {
        @include mbottom-5;
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      ul {
        li {
          cursor: default;
          filter: grayscale(100%);
          transition: 0.5s;
          align-self: center;
          &:hover {
            filter: grayscale(0%);
          }
          div {
            @include mbottom-3;
          }
          p {
            color: $c2;
            @include text-2;
          }
          img {
            @include align-div;
            @include screen(mobile) {
              width: 42px;
            }
          }
        }
      }
      & > a {
        @include mtop-5;
        @include align-div;
        @include link;
      }
    }
    .splide__arrow {
      &.splide__arrow--next {
        right: -12px;
      }
      &.splide__arrow--prev {
        left: -12px;
      }
    }
  }

  .projetos {
    @include pbottom-12;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    ul {
      li {
        background: $w;
        @include border;
        @include shadow-1;
        // width: 60vw;
        filter: grayscale(100%);
        transition: filter 0.5s;
        &.is-active:hover {
          filter: grayscale(0%);
        }
        a {
          max-width: none;
          img[alt="Imagem"] {
            height: 70vh;
            width: 100%;
            object-fit: cover;
            @include border;
            & {
              @include screen(notebook-s) {
                height: initial;
                width: initial;
              }
            }
          }
          & > div {
            padding: $s5 $s6;
            display: flex;
            align-items: center;
            gap: $s5;
            justify-content: space-between;
          }
        }
      }
    }
    .splide__arrow {
      &.splide__arrow--next {
        right: calc(20vw - 20px);
        & {
          @include screen(tablet) {
            right: calc(40px - 13px);
          }
        }
        & {
          @include screen(mobile) {
            right: calc(24px - 13px);
          }
        }
      }
      &.splide__arrow--prev {
        left: calc(20vw - 20px);
        & {
          @include screen(tablet) {
            left: calc(40px - 13px);
          }
        }
        & {
          @include screen(mobile) {
            left: calc(24px - 13px);
          }
        }
      }
    }
  }

  .contato {
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-5;
      @include title-1;
    }
    & > p {
      text-align: center;
      @include mbottom-5;
      @include text-1;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: $s5;
      flex-wrap: wrap;
    }
    li a {
      display: flex;
      gap: $s3;
      align-items: center;
      @include button;
    }
    li button {
      display: flex;
      align-items: center;
      @include button;
      img {
        padding-right: $s3;
      }
    }
    #contato-email {
      p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.2s;
      }
      p:nth-of-type(1) {
        max-width: 300px;
        opacity: 1;
      }
      p:nth-of-type(2) {
        max-width: 0;
        opacity: 0;
      }
      &.ativo {
        p:nth-of-type(1) {
          max-width: 0;
          opacity: 0;
        }
        p:nth-of-type(2) {
          max-width: 300px;
          opacity: 1;
        }
      }
    }
  }

  .splide__arrow {
    border-radius: 25px;
    opacity: 1;
    transition: 0.2s;
    color: $w;
    background: $c2;
    &:hover {
      opacity: 1;
      background-color: $c1;
    }
    svg {
      width: initial;
      height: initial;
    }
    &.splide__arrow--next {
      svg {
        position: relative;
        right: 0;
      }
    }
    &.splide__arrow--prev {
      svg {
        position: relative;
        left: 0;
      }
    }
    .projetos & {
      &.splide__arrow--next {
        background-color: red !important;
      }
      &.splide__arrow--prev {
        position: relative;
        left: -1px;
      }
    }
  }
}

.pagina-tecnologias {
  .titulo {
    position: relative;
    @include mtop-8;
    @include mbottom-8;
    @include container;
    & > a {
      @include link;
      & {
        position: absolute;
        top: 10px;
        left: $s10;
      }
      & {
        @include screen(notebook-s) {
          left: 40px;
          top: 4px;
        }
      }
      & {
        @include screen(mobile) {
          left: 24px;
        }
      }
    }
    h1 {
      text-align: center;
      @include title-1;
    }
  }
  .tec-conteudo {
    min-height: calc(100vh - 61.7px - 69.7px - $s8);
  }
  .tec-grid {
    @include mbottom-12;
    @include container;
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: $s5;
      & {
        @include screen(notebook-s) {
          grid-template-columns: repeat(
            3,
            calc((100vw - 80px - (2 * $s5)) / 3)
          );
        }
      }
      & {
        @include screen(mobile) {
          gap: $s3;
          grid-template-columns: repeat(
            3,
            calc((100vw - 48px - (2 * $s3)) / 3)
          );
        }
      }
      & {
        @include responsive(350px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      svg {
        @include screen(mobile) {
          width: 42px;
        }
      }
      // & > div {
      //   &:not(:last-of-type) {
      //     @include mbottom-5;
      //   }
      //   &:nth-of-type(1),
      //   &:nth-of-type(3) {
      //     padding-right: 80px;
      //   }
      //   &:nth-of-type(2) {
      //     padding-left: 80px;
      //   }
      // }
      li {
        background: $w;
        padding: $s5 $s2;
        text-align: center;
        align-content: center;
        filter: grayscale(100%);
        cursor: default;
        @include border;
        @include shadow-1;
        &:hover {
          filter: grayscale(0%);
        }
        div {
          @include mbottom-3;
        }
        p {
          color: $c2;
          @include text-2;
        }
      }
    }
  }
  .tec-grid li {
    transform: translateX(8px);
    opacity: 0;
    transition: 0.5s;
    &.ativo {
      transform: translateX(0);
      opacity: 1;
    }
    img {
      @include align-div;
    }
  }
}
