@use "./colors" as *;
@use "./mixins" as *;
@use "./global";
@use "./typo" as *;

header {
  display: flex;
  gap: $s5;
  align-items: center;
  justify-content: space-between;
  color: $c2;
  @include ptop-5;
  @include pbottom-5;
  @include container;
  @include text-2;
  ul {
    display: flex;
    gap: $s2;
  }
}

footer {
  text-align: center;
  background-image: url("../../img/background.webp");
  background-size: cover;
  background-position: center;
  color: $w;
  @include ptop-6;
  @include pbottom-6;
}

.pagina-inicial {
  .intro {
    text-align: center;
    height: calc(100svh - 61.7px);
    @include container;
    div {
      position: relative;
      top: calc(50% - 61.7px);
      transform: translateY(-50%);
    }
    img {
      width: 130px;
      border-radius: 200px;
      @include mbottom-5;
      @include align-div;
    }
    p:nth-of-type(1) {
      color: $c2;
      @include mbottom-2;
      @include text-1;
    }
    h1 {
      @include mbottom-2;
      @include title-1;
      & {
        text-transform: uppercase;
        background: linear-gradient(to right, $c1, $c3);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
    p:nth-of-type(2) {
      max-width: 40ch;
      @include align-div;
      @include mbottom-4;
      @include text-1;
    }
    button {
      @include button;
    }
  }

  .sobre {
    text-align: center;
    background-image: url("../../img/background.webp");
    background-size: cover;
    background-position: center;
    color: $w2;
    @include ptop-13;
    @include pbottom-13;
    .sobre-conteudo {
      @include container;
    }
    h2 {
      color: $w;
      @include mbottom-5;
      @include title-1;
    }
    p {
      @include text-1;
      &:not(:last-of-type) {
        @include mbottom-5;
      }
    }
    b {
      color: $w;
      font-weight: 600;
    }
  }

  .trajetoria {
    @include ptop-12;
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    li:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
      text-align: end;
      position: relative;
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: $c3;
        position: absolute;
        top: 0;
        right: -1px;
      }
      &::before {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c3;
        position: absolute;
        top: calc($s2 + 8px);
        right: -5px;
      }
    }
    li:nth-of-type(2) {
      grid-column: 2;
      grid-row: 2;
      position: relative;
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: $c3;
        position: absolute;
        top: 0;
        left: -1px;
      }
      &::before {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c3;
        position: absolute;
        top: calc($s2 + 8px);
        left: -5px;
      }
    }
    li:nth-of-type(3) {
      grid-column: 1;
      grid-row: 3;
      text-align: end;
      position: relative;
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: $c3;
        position: absolute;
        top: 0;
        right: -1px;
      }
      &::before {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: $c3;
        position: absolute;
        top: calc($s2 + 8px);
        right: -5px;
      }
    }
    li {
      padding: $s2 $s5;
      p:nth-of-type(1) {
        @include mbottom-1;
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      p:nth-of-type(2) {
        color: $c2;
        @include mbottom-1;
        @include text-1;
      }
      p:nth-of-type(3) {
        color: $c3;
        @include text-2;
      }
    }
  }

  .habilidades {
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    .hab-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: $s6;
    }
    .certificados {
      background: $w;
      padding: $s5 $s6;
      text-align: center;
      min-width: 0;
      align-content: center;
      @include border;
      @include shadow-1;
      h3 {
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      & > p {
        color: $c2;
        @include mbottom-3;
        @include text-2;
      }
      li {
        filter: grayscale(100%);
        transition: 0.05s;
        &:hover {
          filter: grayscale(0%);
        }
        a {
          @include align-div;
        }
        div {
          @include mbottom-3;
        }
        p:nth-of-type(1) {
          @include text-2;
          & {
            font-weight: 500;
          }
        }
        p:nth-of-type(2) {
          color: $c3;
          @include mbottom-3;
          @include text-2;
        }
        p:nth-of-type(3) {
          @include align-div;
          @include link;
          @include text-2;
        }
      }
    }
    .tecnologias {
      background: $w;
      padding: $s5 $s6;
      text-align: center;
      min-width: 0;
      @include border;
      @include shadow-1;
      h3 {
        @include mbottom-5;
        @include text-1;
        & {
          font-weight: 500;
        }
      }
      ul {
        li {
          cursor: default;
          filter: grayscale(100%);
          transition: 0.05s;
          &:hover {
            filter: grayscale(0%);
          }
          div {
            @include mbottom-3;
          }
          p {
            color: $c2;
            @include text-2;
          }
        }
      }
      & > a {
        @include mtop-5;
        @include align-div;
        @include link;
      }
    }
  }

  .projetos {
    @include pbottom-12;
    h2 {
      text-align: center;
      @include mbottom-8;
      @include title-1;
    }
    ul {
      li {
        background: $w;
        @include border;
        @include shadow-1;
        width: 100%;
        filter: grayscale(100%);
        transition: 0.05s;
        &.is-active:hover {
          filter: grayscale(0%);
        }
        a {
          max-width: none;
          img[alt="Imagem"] {
            width: 60vw;
            height: 70vh;
            object-fit: cover;
            @include border;
          }
          & > div {
            padding: $s5 $s6;
            display: flex;
            align-items: center;
            gap: $s5;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .contato {
    @include pbottom-12;
    @include container;
    h2 {
      text-align: center;
      @include mbottom-5;
      @include title-1;
    }
    & > p {
      text-align: center;
      @include mbottom-5;
      @include text-1;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: $s5;
    }
    li a,
    li button {
      display: flex;
      gap: $s3;
      align-items: center;
      @include button;
    }
  }
}

.pagina-tecnologias {
  min-width: 100vh;
  .titulo {
    position: relative;
    @include mtop-8;
    @include mbottom-8;
    @include container;
    & > a {
      @include link;
      & {
        position: absolute;
        top: 10px;
        left: $s10;
      }
    }
    h1 {
      text-align: center;
      @include title-1;
    }
  }
  .tec-conteudo {
    min-height: calc(100vh - 61.7px - 69px - $s8);
  }
  .tec-grid {
    @include mbottom-12;
    @include container;
    ul {
      & > div {
        grid-template-columns: repeat(6, 1fr);
        display: grid;
        gap: $s5;
        &:not(:last-of-type) {
          @include mbottom-5;
        }
        &:nth-of-type(1),
        &:nth-of-type(3) {
          padding-right: 80px;
        }
        &:nth-of-type(2) {
          padding-left: 80px;
        }
      }
      li {
        background: $w;
        padding: $s5 $s6;
        text-align: center;
        align-content: center;
        filter: grayscale(100%);
        transition: 0.05s;
        @include border;
        @include shadow-1;
        &:hover {
          filter: grayscale(0%);
        }
        div {
          @include mbottom-3;
        }
        p {
          color: $c2;
          @include text-2;
        }
      }
    }
  }
}
